@model IEnumerable<Lab06.Models.Domain.HangHoa>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaHh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenHh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenAlias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTaDonVi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySx)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiamGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLanXem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaNcc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaHh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenHh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenAlias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTaDonVi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonGia)
            </td>
            <td>
                <img class="hinhsp" src="~/Hinh/HangHoa/@item.Hinh" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySx)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiamGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLanXem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNcc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.MaHh }) |
                @Html.ActionLink("Details", "Details", new{ id=item.MaHh }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.MaHh })
            </td>
        </tr>
}
    </tbody>
</table>
